name: Build APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Unzip Android project
      run: unzip Metrolist-Modified.zip

    - name: Generate debug keystore
      run: |
        cd Metrolist-12.12.4/app
        keytool -genkeypair \
          -keystore persistent-debug.keystore \
          -storepass android \
          -keypass android \
          -alias androiddebugkey \
          -keyalg RSA \
          -keysize 2048 \
          -validity 10000 \
          -dname "CN=Android Debug,O=Android,C=US"

    - name: Grant execute permission to gradlew
      run: chmod +x Metrolist-12.12.4/gradlew

    - name: Build Debug APK
      run: |
        cd Metrolist-12.12.4
        ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: Metrolist-12.12.4/**/build/outputs/apk/debug/*.apk
